<navbar title="TopSpin Music" subtitle="Landing Page" section="Case Study"></navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-12 p-4 border-box-9">
                    <h1 class="fs-neue-65">Enhancing Online Presence <br />with a Landing Page Update</h1>
                    <img class="img-fluid mt-4" src="assets/img/TopSpin/Banner.png" />
                </div>
                <div class="col-lg-6 col-xxl-6 mx-auto p-4">
                    <div class="d-flex justify-content-between">
                        <span class="fs-4 fs-neue-65">Client</span>
                        <span class="fs-4 fs-neue-45">TopSpin Music</span>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                        <span class="fs-4 fs-neue-65">Timeline</span>
                        <span class="fs-4 fs-neue-45">6 Weeks</span>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                        <span class="fs-4 fs-neue-65">Tools</span>
                        <span class="fs-4 fs-neue-45">Figma</span>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                        <span class="fs-4 fs-neue-65">Role</span>
                        <span class="fs-4 fs-neue-45">UX/UI Designer</span>
                    </div>
                    <hr />
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Overview</h1>
                    <span class="lh-portfolio">
                        TopSpin Music is a Los Angeles-based company specializing in providing a wide range of services,
                        including digital advertising, data analysis for the music industry, creative services, and
                        digital marketing. Their clients range from artists and managers to distributors and record
                        labels. Currently, the company is in the process of updating its landing page with the goal of
                        attracting new clients. Additionally, they have future plans to develop a comprehensive
                        dashboard that will integrate all their services in one place, thus providing a more efficient
                        and convenient experience for their users.
                    </span>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Research</h1>
                    <span class="lh-portfolio">
                        Conducted a competitive analysis with the aim of identifying benchmarks, assessing key
                        differences, and exploring opportunities that could inform the landing page redesign process.
                        Furthermore, I conducted interviews with users to delve deeper into their current experience
                        with the site, gathering valuable insights to enhance usability and user satisfaction.
                    </span>
                    <h4 class="fs-neue-65 mt-5">Findings:</h4>
                    <ul>
                        <li>Recommended the implementation of an integrated website form instead of relying on external
                            services like Google Forms. This would simplify the user interaction flow and increase
                            visitor retention.</li>
                        <li class="mt-1">Suggested including a language toggle button that allows users to switch
                            between English and Spanish intuitively.</li>
                        <li class="mt-1">Proposed creating a section that highlights previous collaborations with
                            well-known brands and companies. This would strengthen credibility and attract the attention
                            of potential clients.</li>
                        <li class="mt-1">Advocated for reducing the amount of text on the website and exploring ways to
                            distribute it more effectively. This would make information easier for visitors to digest
                            and keep their attention.</li>
                        <li class="mt-1">Proposed a review of content structuring for a more intuitive and seamless
                            navigation, enabling users to find relevant information more efficiently.</li>
                        <li class="mt-1">Recommended the inclusion of animations and videos to enrich the user
                            experience and provide visually appealing and dynamic content.</li>
                    </ul>
                </div>
                <div class="col-lg-6 p-4"><img class="img-fluid" src="assets/img/TopSpin/Research/Research1.png" />
                </div>
                <div class="col-lg-6 p-4"><img class="img-fluid" src="assets/img/TopSpin/Research/Research2.png" />
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Defining the Solution</h1>
                    <span>For the redesign of the landing page, I identified the following key recommendations:</span>
                    <ul>
                        <li class="mt-1">Recommended the strategic incorporation of animations on the website. However,
                            it's crucial to avoid animation overload to maintain a clean and user-friendly design.</li>
                        <li class="mt-1">Proposed avoiding information overload on the website. The key is to segment
                            and present information directly and concisely so that users can clearly understand what is
                            being offered.</li>
                        <li class="mt-1">Suggested designing the website to be responsive and adaptable to various
                            screen sizes, as users will access it from different devices.</li>
                        <li class="mt-1">Advised implementing language options on the site, with an emphasis on English
                            as the primary language, given its relevance in the market.</li>
                        <li class="mt-1">Recommended including a form or registration process to enhance site
                            credibility since redirecting users to a form can instill greater trust and commitment.</li>
                    </ul>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Wireframing</h1>
                    <span class="lh-portfolio">
                        For the wireframing process in this project, I first conducted a competitive analysis and
                        gathered references. Then, I sketched out an initial draft by hand, and finally, I created
                        grayscale wireframes for client evaluation. This approach allowed for precise design and
                        effective feedback.
                    </span>
                    <div id="carousel-1" class="carousel slide carousel-dark" data-bs-ride="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4">
                                        <img class="img-fluid" src="assets/img/TopSpin/Wireframing/Header.png" />
                                    </div>
                                    <div class="col-6 col-md-6 p-4">
                                        <img class="img-fluid" src="assets/img/TopSpin/Wireframing/AboutUs.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4">
                                        <img class="img-fluid" src="assets/img/TopSpin/Wireframing/Artists.png" />
                                    </div>
                                    <div class="col-6 col-md-6 p-4">
                                        <img class="img-fluid" src="assets/img/TopSpin/Wireframing/OurServices.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4">
                                        <img class="img-fluid" src="assets/img/TopSpin/Wireframing/Footer.png" />
                                    </div>
                                    <div class="col-6 col-md-6 p-4">
                                        <img class="img-fluid" src="assets/img/TopSpin/Wireframing/Form1.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4">
                                        <img class="img-fluid" src="assets/img/TopSpin/Wireframing/Form2.png" />
                                    </div>
                                    <div class="col-6 col-md-6 p-4">
                                        <img class="img-fluid" src="assets/img/TopSpin/Wireframing/Form3.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4">
                                        <img class="img-fluid" src="assets/img/TopSpin/Wireframing/Form4.png" />
                                    </div>
                                    <div class="col-6 col-md-6 p-4">
                                        <img class="img-fluid" src="assets/img/TopSpin/Wireframing/Form5.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4">
                                        <img class="img-fluid" src="assets/img/TopSpin/Wireframing/Form6.png" />
                                    </div>
                                    <div class="col-6 col-md-6 p-4">
                                        <img class="img-fluid" src="assets/img/TopSpin/Wireframing/Login.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Establishing the Visual Design</h1>
                    <span class="lh-portfolio">
                        Transformed a website that lacked personality into a modern and appealing platform. I used bold
                        colors, including the popular dark mode, to breathe life into it. I also added a language toggle
                        button for international users and implemented a user retention system to measure site
                        performance. These improvements significantly transformed the user experience.
                    </span>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">High Fidelity Prototype</h1>
                    <span class="lh-portfolio">
                        I had the opportunity to collaborate closely with the client. The conversations and tests
                        conducted were crucial in understanding the specific project needs and effectively adjusting the
                        design. Some of the key changes agreed upon during this phase included:
                    </span>
                    <ul>
                        <li class="mt-1">Segmenting information into different pages to enhance navigation.
                        </li>
                        <li class="mt-1">Graphical improvement of buttons, providing a more attractive and user-friendly
                            appearance.
                        </li>
                        <li class="mt-1">Modernization of the overall design style to give it a contemporary and fresh
                            look.</li>
                        <li class="mt-1">Implementation of a custom form on the page to ensure the security of user
                            data.</li>
                    </ul>
                    <div id="carousel-2" class="carousel slide" data-bs-ride="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/TopSpin/HiFi/Header.png" /></div>
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/TopSpin/HiFi/AboutUs.png" /></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/TopSpin/HiFi/Collaborations.png" /></div>
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/TopSpin/HiFi/OurServices.png" /></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/TopSpin/HiFi/Footer.png" /></div>
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/TopSpin/HiFi/Define.png" /></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/TopSpin/HiFi/Personal.png" /></div>
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/TopSpin/HiFi/Artist1.png" /></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/TopSpin/HiFi/Artist2.png" /></div>
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/TopSpin/HiFi/Services.png" /></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/TopSpin/HiFi/Thank you.png" /></div>
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/TopSpin/HiFi/Login.png" /></div>
                                </div>
                            </div>
                        </div>
                        <div><a class="carousel-control-prev" href="#carousel-2" role="button"
                                data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span
                                    class="visually-hidden">Previous</span></a><a class="carousel-control-next"
                                href="#carousel-2" role="button" data-bs-slide="next"><span
                                    class="carousel-control-next-icon"></span><span
                                    class="visually-hidden">Next</span></a></div>
                    </div>
                </div>
                <div class="col-12 p-4 mb-0">
                    <h1 class="fs-neue-65">Conclusions and Learnings</h1>
                    <p class="lh-portfolio">
                        This project has been an extremely enriching experience for me. Conducting a
                        competitive analysis and learning from similar companies has been crucial and has significantly
                        contributed to the product's improvement. One of the primary objectives was to optimize both the
                        flow and design of the website, and I believe that segmenting the information, including
                        language options, and implementing the success stories section are successful elements that
                        strengthen TopSpin Music's image.
                    </p>
                    <p class="lh-portfolio">
                        Collaborating with industry experts has been an invaluable educational experience. The ability
                        to understand their needs and translate them into a project that reflects their vision has
                        validated my skills in meeting their requirements and delivering innovative design. It's
                        important to note that this project is still in discussion and negotiation with the client, and
                        everything presented in this case study has served as a fundamental basis for the final
                        delivery.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>