<navbar title="TopSpin Music" subtitle="Landing Page" section="Case Study"></navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-12 p-4 border-box-9">
                    <h1 class="fs-neue-65">Enhancing Online Presence <br />with a Landing Page Update</h1>
                    <img class="img-fluid mt-4" src="assets/img/TopSpin/Banner.png" />
                </div>
                <div class="col-lg-6 col-xxl-6 mx-auto p-4">
                    <div class="d-flex justify-content-between">
                        <span class="fs-4 fs-neue-65">Client</span>
                        <span class="fs-4 fs-neue-45">TopSpin Music</span>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                        <span class="fs-4 fs-neue-65">Timeline</span>
                        <span class="fs-4 fs-neue-45">6 Weeks</span></div>
                    <hr />
                    <div class="d-flex justify-content-between">
                        <span class="fs-4 fs-neue-65">Tools</span>
                        <span class="fs-4 fs-neue-45">Figma</span></div>
                    <hr />
                    <div class="d-flex justify-content-between">
                        <span class="fs-4 fs-neue-65">Role</span>
                        <span class="fs-4 fs-neue-45">UX/UI Designer</span></div>
                    <hr />
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Overview</h1>
                    <span class="lh-portfolio">
                        TopSpin Music es una empresa con sede en Los Ángeles que
                        se especializa en ofrecer una amplia gama de servicios, que incluyen publicidad digital,
                        análisis de datos para la industria musical, servicios creativos y marketing digital. Sus
                        clientes abarcan desde artistas y managers hasta distribuidoras y sellos discográficos.
                        Actualmente, la empresa se encuentra en la búsqueda de una actualización para su landing page
                        con el objetivo de atraer a nuevos clientes. Además, tienen planes futuros de desarrollar un
                        completo panel de control (dashboard) que integrará todos sus servicios en un único lugar,
                        proporcionando así una experiencia más eficiente y conveniente para sus usuarios.
                    </span>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Research</h1>
                    <span class="lh-portfolio">
                        Llevé a cabo un análisis de la competencia con el
                        objetivo de identificar puntos de referencia, evaluar diferencias clave y explorar oportunidades
                        que pudieran informar el proceso de rediseño de la landing page. Además, realicé entrevistas con
                        los usuarios para profundizar en su experiencia actual con el sitio, obteniendo información
                        valiosa para mejorar la usabilidad y la satisfacción del usuario.
                    </span>
                    <h4 class="fs-neue-65 mt-5">Findings:</h4>
                    <ul>
                        <li>Recomendé la implementación de un formulario que forme parte integral del sitio web en lugar
                            de depender de servicios externos como Google Forms. Esto simplificaría el flujo de
                            interacción del usuario y aumentaría la retención de visitantes.</li>
                        <li class="mt-1">Sugerí la inclusión de un botón de cambio de idioma que permita a los usuarios alternar
                            entre inglés y español de manera intuitiva.</li>
                        <li class="mt-1">Propuse la creación de una sección que destaque las colaboraciones previas con marcas y
                            empresas reconocidas. Esto fortalecería la credibilidad y atraería la atención de posibles
                            clientes.</li>
                        <li class="mt-1">Abogué por reducir la cantidad de texto en el sitio y explorar formas de distribuirlo de
                            manera más efectiva. Esto facilitaría la digestión de información para los visitantes y
                            mantendría su atención.</li>
                        <li class="mt-1">Propuse una revisión de la estructuración del contenido para lograr una navegación más
                            intuitiva y fluida, lo que permitiría a los usuarios encontrar información relevante de
                            manera más eficiente.</li>
                        <li class="mt-1">Recomendé la inclusión de animaciones y videos para enriquecer la experiencia del usuario y
                            brindar contenido visualmente atractivo y dinámico.</li>
                    </ul>
                </div>
                <div class="col-lg-6 p-4"><img class="img-fluid" src="assets/img/TopSpin/Research/Research1.png" /></div>
                <div class="col-lg-6 p-4"><img class="img-fluid" src="assets/img/TopSpin/Research/Research2.png" /></div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Defining the Solution</h1>
                    <span>Para el rediseño de la landing page, identifiqué las siguientes recomendaciones clave:</span>
                    <ul>
                        <li class="mt-1">Recomendé la incorporación de animaciones de manera estratégica en el sitio web. Sin
                            embargo, es fundamental evitar la saturación de animaciones.</li>
                        <li class="mt-1">Propuse evitar la saturación de información en el sitio web. La clave está en seccionar y
                            presentar la información de manera directa y concisa para que los usuarios comprendan de
                            manera clara lo que se está ofreciendo.</li>
                        <li class="mt-1">Planteé diseñar el sitio web para que sea responsivo y se adapte a diversas pantallas, ya
                            que los usuarios lo visitarán desde dispositivos variados.</li>
                        <li class="mt-1">Aconsejé la implementación de opciones de idioma en el sitio, con énfasis en el inglés como
                            idioma principal, dada su relevancia en el mercado.</li>
                        <li class="mt-1">Sugerí incluir un formulario o un proceso de registro para mejorar la confiabilidad del
                            sitio, ya que redirigir a los usuarios a un formulario puede generar mayor confianza y
                            compromiso.</li>
                    </ul>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Wireframing</h1>
                    <span class="lh-portfolio">
                        Para el proceso de wireframing en este proyecto,
                        primero realicé un análisis de la competencia y referencias. Luego, diseñé un borrador inicial a
                        mano y finalmente creé wireframes en escala de grises para que los clientes los evaluaran. Este
                        enfoque permitió un diseño preciso y una retroalimentación efectiva.
                    </span>
                    <div id="carousel-1" class="carousel slide carousel-dark" data-bs-ride="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4">
                                        <img class="img-fluid" src="assets/img/TopSpin/Wireframing/Header.png" />
                                    </div>
                                    <div class="col-6 col-md-6 p-4">
                                        <img class="img-fluid" src="assets/img/TopSpin/Wireframing/AboutUs.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4">
                                        <img class="img-fluid" src="assets/img/TopSpin/Wireframing/Artists.png" />
                                    </div>
                                    <div class="col-6 col-md-6 p-4">
                                        <img class="img-fluid" src="assets/img/TopSpin/Wireframing/OurServices.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4">
                                        <img class="img-fluid" src="assets/img/TopSpin/Wireframing/Footer.png" />
                                    </div>
                                    <div class="col-6 col-md-6 p-4">
                                        <img class="img-fluid" src="assets/img/TopSpin/Wireframing/Form1.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4">
                                        <img class="img-fluid" src="assets/img/TopSpin/Wireframing/Form2.png" />
                                    </div>
                                    <div class="col-6 col-md-6 p-4">
                                        <img class="img-fluid" src="assets/img/TopSpin/Wireframing/Form3.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4">
                                        <img class="img-fluid" src="assets/img/TopSpin/Wireframing/Form4.png" />
                                    </div>
                                    <div class="col-6 col-md-6 p-4">
                                        <img class="img-fluid" src="assets/img/TopSpin/Wireframing/Form5.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4">
                                        <img class="img-fluid" src="assets/img/TopSpin/Wireframing/Form6.png" />
                                    </div>
                                    <div class="col-6 col-md-6 p-4">
                                        <img class="img-fluid" src="assets/img/TopSpin/Wireframing/Login.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Establishing the Visual Design</h1>
                    <span class="lh-portfolio">
                        Transformé un sitio web que carecía
                        de personalidad en una plataforma moderna y atractiva. Utilicé colores audaces, incluyendo el
                        popular modo oscuro, para darle vida. También agregué un botón de cambio de idioma para usuarios
                        internacionales y establecí un sistema de retención de usuarios para medir el rendimiento del
                        sitio. Estas mejoras transformaron la experiencia del usuario de manera significativa.
                    </span>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">High Fidelity Prototype</h1>
                    <span class="lh-portfolio">
                        Tuve la oportunidad de colaborar
                        estrechamente con el cliente. Las conversaciones y pruebas realizadas fueron fundamentales para
                        entender las necesidades específicas del proyecto y ajustar el diseño de manera efectiva.
                        Algunos de los cambios clave acordados durante esta fase incluyeron:
                    </span>
                    <ul>
                        <li class="mt-1">Segmentación de la información en distintas páginas para mejorar la navegación.</li>
                        <li class="mt-1">Mejora gráfica de los botones, aportando un aspecto más atractivo y amigable.</li>
                        <li class="mt-1">Modernización del estilo general del diseño para darle un aspecto contemporáneo y fresco.</li>
                        <li class="mt-1">Implementación de un formulario personalizado en la página para garantizar la seguridad de
                            los datos de los usuarios.</li>
                    </ul>
                    <div id="carousel-2" class="carousel slide" data-bs-ride="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/TopSpin/HiFi/Header.png" /></div>
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/TopSpin/HiFi/AboutUs.png" /></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/TopSpin/HiFi/Collaborations.png" /></div>
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/TopSpin/HiFi/OurServices.png" /></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/TopSpin/HiFi/Footer.png" /></div>
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/TopSpin/HiFi/Define.png" /></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/TopSpin/HiFi/Personal.png" /></div>
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/TopSpin/HiFi/Artist1.png" /></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/TopSpin/HiFi/Artist2.png" /></div>
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/TopSpin/HiFi/Services.png" /></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/TopSpin/HiFi/Thank you.png" /></div>
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/TopSpin/HiFi/Login.png" /></div>
                                </div>
                            </div>
                        </div>
                        <div><a class="carousel-control-prev" href="#carousel-2" role="button"
                                data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span
                                    class="visually-hidden">Previous</span></a><a class="carousel-control-next"
                                href="#carousel-2" role="button" data-bs-slide="next"><span
                                    class="carousel-control-next-icon"></span><span
                                    class="visually-hidden">Next</span></a></div>
                    </div>
                </div>
                <div class="col-12 p-4 mb-0">
                    <h1 class="fs-neue-65">Conclusions and Learnings</h1>
                    <p class="lh-portfolio">Este proyecto ha sido una experiencia sumamente enriquecedora para mí. La realización de un
                        análisis de la competencia y el aprendizaje derivado de empresas similares han sido aspectos
                        cruciales que han contribuido significativamente a la mejora del producto. Uno de los objetivos
                        primordiales consistía en optimizar tanto el flujo como el diseño del sitio web, y considero que
                        la segmentación de la información, la inclusión de opciones de idioma y la implementación de la
                        sección de casos de éxito son aciertos que fortalecen la imagen de TopSpin Music.</p>
                    <p class="lh-portfolio">Colaborar con expertos de la industria ha sido una experiencia educativa de gran valor. La
                        capacidad de comprender sus necesidades y plasmarlas en un proyecto que refleje su visión ha
                        validado mis habilidades para satisfacer sus requisitos y ofrecer un diseño innovador. Es
                        importante destacar que este proyecto aún se encuentra en discusión y negociación con el
                        cliente, y todo lo presentado en este caso de estudio ha servido como base fundamental para la
                        entrega final.</p>
                </div>
            </div>
        </div>
    </div>
</div>