<navbar title="Dasana" subtitle="App Mobile" section="Case Study"></navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-12 p-4 border-box-9">
                    <h1 class="fs-neue-65">Transforming the<br />App User Experience</h1>
                    <img class="img-fluid mt-4" src="assets/img/Dasana/Banner.png" />
                </div>
                <div class="col-lg-6 col-xxl-6 mx-auto p-4">
                    <div class="d-flex justify-content-between">
                        <span class="fs-4 fs-neue-65">Client</span>
                        <span class="fs-4 fs-neue-45">Dasana</span>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                        <span class="fs-4 fs-neue-65">Timeline</span>
                        <span class="fs-4 fs-neue-45">2 Weeks</span>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                        <span class="fs-4 fs-neue-65">Tools</span>
                        <span class="fs-4 fs-neue-45">Figma</span>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                        <span class="fs-4 fs-neue-65">Role</span>
                        <span class="fs-4 fs-neue-45">UX/UI Designer</span>
                    </div>
                    <hr />
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Overview</h1>
                    <span class="lh-portfolio">
                        Dasana es una aplicación móvil de suscripción establecida principalmente en México y con la
                        ambición de expandirse a España. Está orientada hacia aquellas personas que desean llevar un
                        estilo de vida saludable, ofreciendo una amplia gama de contenido que incluye recetas, rutinas
                        de ejercicios, meditaciones y otros recursos valiosos.<br />En el proceso de rediseño, el
                        objetivo principal fue revitalizar la aplicación, ya que su diseño anterior se percibía como
                        desactualizado y no se alineaba con la imagen actual de la empresa. Busqué modernizar la
                        interfaz, eliminando funciones viejas, incorporando nuevas características y mejorando la
                        experiencia general del usuario.
                    </span>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Research</h1>
                    <span class="lh-portfolio">
                        Para lograr un rediseño efectivo, llevé a cabo una
                        investigación exhaustiva, analizando plataformas y aplicaciones populares entre usuarios reales
                        y de investigación. Mi objetivo era evitar cambios innecesarios y aprovechar las fortalezas
                        existentes para que los usuarios se sintieran cómodos y no confundidos al usar la
                        aplicación.
                    </span>
                    <h4 class="fs-neue-65 mt-5">Findings:</h4>
                    <ul>
                        <li class="mt-1">La funcionalidad del inicio de sesión presentaba carencias significativas en comparación con
                            aplicaciones populares.</li>
                        <li class="mt-1">El diseño anterior se desarrolló de manera improvisada, lo que resultó en una apariencia
                            anticuada. Se necesitaba un enfoque más cohesivo en el diseño para crear una identidad
                            visual atractiva y consistente.</li>
                        <li class="mt-1">Los flujos existentes para meditaciones y ejercicios eran anticuados y contenían pasos
                            innecesarios. Era esencial replantear estos flujos para hacerlos más eficientes y atractivos
                            para los usuarios.</li>
                        <li class="mt-1">La estructura de la barra de navegación estaba mal elaborada.</li>
                        <li class="mt-1">Todas las opciones y configuraciones de la cuenta se agrupaban en una sola pantalla, lo que
                            generaba una experiencia poco amigable y abrumadora para los usuarios.</li>
                    </ul>
                </div>
                <div class="col-4 col-lg-2 p-4"><img class="img-fluid" src="assets/img/Dasana/Research/Screen4.png" /></div>
                <div class="col-4 col-lg-2 p-4"><img class="img-fluid" src="assets/img/Dasana/Research/Screen5.png" /></div>
                <div class="col-4 col-lg-2 p-4"><img class="img-fluid" src="assets/img/Dasana/Research/Screen7.png" /></div>
                <div class="col-4 col-lg-2 p-4"><img class="img-fluid" src="assets/img/Dasana/Research/Screen2.png" /></div>
                <div class="col-4 col-lg-2 p-4"><img class="img-fluid" src="assets/img/Dasana/Research/Screen3.png" /></div>
                <div class="col-4 col-lg-2 p-4"><img class="img-fluid" src="assets/img/Dasana/Research/Screen6.png" /></div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Defining the Solution</h1>
                    <span>Implementé las siguientes mejoras:</span>
                    <ul>
                        <li class="mt-1">Propuse funciones como la recuperación de contraseña y la visualización de contraseñas
                            mientras se escriben. También se permitió el inicio de sesión y registro a través de otras
                            cuentas para una experiencia más fluida.</li>
                        <li class="mt-1">Adopte un diseño más limpio y moderno, similar a las aplicaciones actuales, destacando las
                            funciones principales con un diseño visualmente atractivo.</li>
                        <li class="mt-1">Establecí un nuevo flujo, presentando una meditación diaria con detalles y un conjunto de
                            ejercicios para la semana.</li>
                        <li class="mt-1">Reestructure el contenido para una navegación más sencilla y organizada, facilitando la
                            búsqueda de información relevante.</li>
                        <li class="mt-1">Cree secciones adicionales en la pantalla de perfil para una experiencia más sencilla y
                            detallada.</li>
                    </ul>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Wireframing</h1><span>Dado el plazo apresurado de aproximadamente 2 semanas
                        para el rediseño, en lugar de elaborar wireframes en escala de grises, opté por analizar el
                        flujo existente y utilizarlo como base para crear uno completamente nuevo.</span>
                    <div id="carousel-1" class="carousel slide carousel-dark" data-bs-ride="false">
                        <div class="carousel-inner">
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-6 col-md-6 text-end p-4"><img class="img-fluid w-75"
                                            src="assets/img/Dasana/User/Old1.png" /></div>
                                    <div class="col-6 col-md-6 text-start p-4"><img class="img-fluid w-75"
                                            src="assets/img/Dasana/User/Old2.png" /></div>
                                </div>
                            </div>
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-6 col-md-6 text-end p-4"><img class="img-fluid w-75"
                                            src="assets/img/Dasana/User/New1.png" /></div>
                                    <div class="col-6 col-md-6 text-start p-4"><img class="img-fluid w-75"
                                            src="assets/img/Dasana/User/New2.png" /></div>
                                </div>
                            </div>
                        </div>
                        <div><a class="carousel-control-prev" href="#carousel-1" role="button"
                                data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span
                                    class="visually-hidden">Previous</span></a><a class="carousel-control-next"
                                href="#carousel-1" role="button" data-bs-slide="next"><span
                                    class="carousel-control-next-icon"></span><span
                                    class="visually-hidden">Next</span></a></div>
                    </div>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Establishing the Visual Design</h1>
                    <span class="lh-portfolio">
                        En el proceso de establecer el
                        diseño visual para la nueva interfaz, seleccioné el color naranja como color primario, en línea
                        con la identidad de la marca. Utilicé diversas tonalidades de naranja, manteniendo
                        principalmente un fondo blanco. También reorganicé los botones, ampliándolos para lograr una
                        vista más intuitiva y una presentación visual mejorada del contenido, lo que simplifica su
                        uso.
                    </span>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">High Fidelity Prototype</h1>
                    <span class="lh-portfolio">
                        Mantuve una comunicación constante con el
                        cliente para asegurarme de que las direcciones creativas coincidieran con sus expectativas. A
                        pesar de tener una libertad creativa inicial, logramos los siguientes avances:
                    </span>
                    <ul>
                        <li class="mt-1">Introduje una pantalla de inicio (splash screen) para mejorar la experiencia de carga de la
                            aplicación, además de las opciones de registro e inicio de sesión a través de Facebook,
                            Google y Apple.</li>
                        <li class="mt-1">En lugar de utilizar botones genéricos para todas las funciones, optimicé la organización de
                            la información en la página de inicio, eliminando elementos innecesarios y mejorando la
                            estética general.</li>
                        <li class="mt-1">Rediseñé la barra de navegación, incluyendo accesos directos a meditaciones y ejercicios, y
                            ajusté el modelo de negocio para que fuera más intuitivo y familiar para la mayoría de los
                            usuarios.</li>
                        <li class="mt-1">En la pantalla de perfil, reestructuré y reorganicé el contenido para una experiencia más
                            cohesiva y fácil de usar.</li>
                    </ul>
                    <div id="carousel-2" class="carousel slide carousel-dark" data-bs-ride="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-4 col-md-2 p-4"><img class="img-fluid"
                                            src="assets/img/Dasana/HiFi/SplashScreen.png" /></div>
                                    <div class="col-4 col-md-2 p-4"><img class="img-fluid"
                                            src="assets/img/Dasana/HiFi/Login.png" /></div>
                                    <div class="col-4 col-md-2 p-4"><img class="img-fluid"
                                            src="assets/img/Dasana/HiFi/RecetasOMN.png" /></div>
                                    <div class="col-4 col-md-2 p-4"><img class="img-fluid"
                                            src="assets/img/Dasana/HiFi/Ficha.png" /></div>
                                    <div class="col-4 col-md-2 col-xxl-2 p-4"><img class="img-fluid"
                                            src="assets/img/Dasana/HiFi/Lista.png" /></div>
                                    <div class="col-4 col-md-2 col-xxl-2 p-4"><img class="img-fluid"
                                            src="assets/img/Dasana/HiFi/Ejercicio.png" /></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-4 col-md-2 p-4"><img class="img-fluid"
                                            src="assets/img/Dasana/HiFi/Meditaciones.png" /></div>
                                    <div class="col-4 col-md-2 p-4"><img class="img-fluid"
                                            src="assets/img/Dasana/HiFi/MeditacionesDetalles.png" /></div>
                                    <div class="col-4 col-md-2 p-4"><img class="img-fluid"
                                            src="assets/img/Dasana/HiFi/Ebooks.png" /></div>
                                    <div class="col-4 col-md-2 p-4"><img class="img-fluid"
                                            src="assets/img/Dasana/HiFi/Recetarios.png" /></div>
                                    <div class="col-4 col-md-2 col-xxl-2 p-4"><img class="img-fluid"
                                            src="assets/img/Dasana/HiFi/RecetasFavoritos.png" /></div>
                                    <div class="col-4 col-md-2 col-xxl-2 p-4"><img class="img-fluid"
                                            src="assets/img/Dasana/HiFi/Perfil.png" /></div>
                                </div>
                            </div>
                        </div>
                        <div><a class="carousel-control-prev" href="#carousel-2" role="button"
                                data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span
                                    class="visually-hidden">Previous</span></a><a class="carousel-control-next"
                                href="#carousel-2" role="button" data-bs-slide="next"><span
                                    class="carousel-control-next-icon"></span><span
                                    class="visually-hidden">Next</span></a></div>
                    </div>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Conclusions and Learnings</h1>
                    <p>Rehacer el flujo de la aplicación resultó en reto centrado en la lógica y la comprensión de cómo
                        crear un flujo efectivo para mejorar la experiencia del usuario.</p>
                    <p>Trabajar en un rediseño con limitaciones de tiempo y completa libertad creativa presento un
                        desafío. Es común que los usuarios se sientan incómodos al principio con cambios, pero los
                        comentarios positivos y el aumento de usuarios sugieren que el proyecto ha sido exitoso.</p>
                    <p>Es importante destacar que el diseño presentado en este caso de estudio difiere de la versión
                        actual de la aplicación debido a diversos factores que han impedido su implementación completa.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>