<navbar title="Dasana" subtitle="App Mobile" section="Case Study"></navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-12 p-4 border-box-9">
                    <h1 class="fs-neue-65">Transforming the<br />App User Experience</h1>
                    <img class="img-fluid mt-4" src="assets/img/Dasana/Banner.png" />
                </div>
                <div class="col-lg-6 col-xxl-6 mx-auto p-4">
                    <div class="d-flex justify-content-between">
                        <span class="fs-4 fs-neue-65">Client</span>
                        <span class="fs-4 fs-neue-45">Dasana</span>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                        <span class="fs-4 fs-neue-65">Timeline</span>
                        <span class="fs-4 fs-neue-45">2 Weeks</span>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                        <span class="fs-4 fs-neue-65">Tools</span>
                        <span class="fs-4 fs-neue-45">Figma</span>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                        <span class="fs-4 fs-neue-65">Role</span>
                        <span class="fs-4 fs-neue-45">UX/UI Designer</span>
                    </div>
                    <hr />
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Overview</h1>
                    <p class="lh-portfolio">
                        Dasana is a subscription-based mobile application primarily established in Mexico with ambitions
                        to expand to Spain. It is oriented towards individuals looking to lead a healthy lifestyle,
                        offering a wide range of content including recipes, exercise routines, meditations, and other
                        valuable resources.
                    </p>
                    <p class="lh-portfolio">
                        In the redesign process, the main objective was to revitalize the application as its previous
                        design was perceived as outdated and not aligned with the company's current image. I aimed to
                        modernize the interface by removing old features, incorporating new ones, and enhancing the
                        overall user experience.
                    </p>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Research</h1>
                    <span class="lh-portfolio">
                        To achieve an effective redesign, I conducted thorough research, analyzing popular platforms and
                        applications among real users and through research. My goal was to avoid unnecessary changes and
                        leverage existing strengths so that users would feel comfortable and not confused when using the
                        application.
                    </span>
                    <h4 class="fs-neue-65 mt-5">Findings:</h4>
                    <ul>
                        <li class="mt-1">Login functionality had significant shortcomings compared to popular
                            applications.</li>
                        <li class="mt-1">Previous design was developed in an improvised manner, resulting in an outdated
                            appearance. A more cohesive design approach was needed to create an attractive and
                            consistent visual identity..</li>
                        <li class="mt-1">Existing flows for meditations and exercises were outdated and contained
                            unnecessary steps. It was essential to rethink these flows to make them more efficient and
                            appealing to users.</li>
                        <li class="mt-1">Navigation bar structure was poorly constructed.</li>
                        <li class="mt-1">All account options and settings were grouped on a single screen, creating an
                            unfriendly and overwhelming experience for users.</li>
                    </ul>
                </div>
                <div class="col-4 col-lg-2 p-4"><img class="img-fluid" src="assets/img/Dasana/Research/Screen4.png" />
                </div>
                <div class="col-4 col-lg-2 p-4"><img class="img-fluid" src="assets/img/Dasana/Research/Screen5.png" />
                </div>
                <div class="col-4 col-lg-2 p-4"><img class="img-fluid" src="assets/img/Dasana/Research/Screen7.png" />
                </div>
                <div class="col-4 col-lg-2 p-4"><img class="img-fluid" src="assets/img/Dasana/Research/Screen2.png" />
                </div>
                <div class="col-4 col-lg-2 p-4"><img class="img-fluid" src="assets/img/Dasana/Research/Screen3.png" />
                </div>
                <div class="col-4 col-lg-2 p-4"><img class="img-fluid" src="assets/img/Dasana/Research/Screen6.png" />
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Defining the Solution</h1>
                    <span>Implemented the following improvements:</span>
                    <ul>
                        <li class="mt-1">Proposed features such as password recovery and password visibility while
                            typing. I also allowed login and registration through other accounts for a smoother
                            experience.</li>
                        <li class="mt-1">Adopted a cleaner and more modern design, similar to current applications,
                            highlighting key features with visually appealing design elements.</li>
                        <li class="mt-1">Established a new flow, presenting a daily meditation with details and a set of
                            exercises for the week.</li>
                        <li class="mt-1">Restructured the content for simpler and organized navigation, making it easier
                            to find relevant information.</li>
                        <li class="mt-1">Created additional sections on the profile screen for a more straightforward
                            and detailed user experience.</li>
                    </ul>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Wireframing</h1>
                    <span>Given the tight deadline of approximately 2 weeks for the redesign, instead of creating
                        grayscale wireframes, I chose to analyze the existing flow and use it as a basis to create a
                        completely new one.</span>
                    <div id="carousel-1" class="carousel slide carousel-dark" data-bs-ride="false">
                        <div class="carousel-inner">
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-6 col-md-6 text-end p-4"><img class="img-fluid w-75"
                                            src="assets/img/Dasana/User/Old1.png" /></div>
                                    <div class="col-6 col-md-6 text-start p-4"><img class="img-fluid w-75"
                                            src="assets/img/Dasana/User/Old2.png" /></div>
                                </div>
                            </div>
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-6 col-md-6 text-end p-4"><img class="img-fluid w-75"
                                            src="assets/img/Dasana/User/New1.png" /></div>
                                    <div class="col-6 col-md-6 text-start p-4"><img class="img-fluid w-75"
                                            src="assets/img/Dasana/User/New2.png" /></div>
                                </div>
                            </div>
                        </div>
                        <div><a class="carousel-control-prev" href="#carousel-1" role="button"
                                data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span
                                    class="visually-hidden">Previous</span></a><a class="carousel-control-next"
                                href="#carousel-1" role="button" data-bs-slide="next"><span
                                    class="carousel-control-next-icon"></span><span
                                    class="visually-hidden">Next</span></a></div>
                    </div>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Establishing the Visual Design</h1>
                    <span class="lh-portfolio">
                        In the process of establishing the visual design for the new interface, I selected orange as the
                        primary color in line with the brand's identity. I used various shades of orange, primarily
                        against a white background. I also reorganized the buttons, making them larger for a more
                        intuitive view and an improved visual presentation of content, thus simplifying the user
                        experience.
                    </span>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">High Fidelity Prototype</h1>
                    <span class="lh-portfolio">
                        Maintained constant communication with the client to ensure that the creative directions aligned
                        with their expectations. Despite having initial creative freedom, we achieved the following
                        progress:
                    </span>
                    <ul>
                        <li class="mt-1">Introduced a splash screen to enhance the app's loading experience, along with
                            registration and login options via Facebook, Google, and Apple.</li>
                        <li class="mt-1">Instead of using generic buttons for all functions, I optimized the
                            organization of information on the home page by removing unnecessary elements and improving
                            the overall aesthetics.</li>
                        <li class="mt-1">Redesigned the navigation bar, including shortcuts to meditations and
                            exercises, and adjusted the business model to be more intuitive and familiar to the majority
                            of users.</li>
                        <li class="mt-1">On the profile screen, I restructured and reorganized the content for a more
                            cohesive and user-friendly experience.</li>
                    </ul>
                    <div id="carousel-2" class="carousel slide carousel-dark" data-bs-ride="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-4 col-md-2 p-4"><img class="img-fluid"
                                            src="assets/img/Dasana/HiFi/SplashScreen.png" /></div>
                                    <div class="col-4 col-md-2 p-4"><img class="img-fluid"
                                            src="assets/img/Dasana/HiFi/Login.png" /></div>
                                    <div class="col-4 col-md-2 p-4"><img class="img-fluid"
                                            src="assets/img/Dasana/HiFi/RecetasOMN.png" /></div>
                                    <div class="col-4 col-md-2 p-4"><img class="img-fluid"
                                            src="assets/img/Dasana/HiFi/Ficha.png" /></div>
                                    <div class="col-4 col-md-2 col-xxl-2 p-4"><img class="img-fluid"
                                            src="assets/img/Dasana/HiFi/Lista.png" /></div>
                                    <div class="col-4 col-md-2 col-xxl-2 p-4"><img class="img-fluid"
                                            src="assets/img/Dasana/HiFi/Ejercicio.png" /></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-4 col-md-2 p-4"><img class="img-fluid"
                                            src="assets/img/Dasana/HiFi/Meditaciones.png" /></div>
                                    <div class="col-4 col-md-2 p-4"><img class="img-fluid"
                                            src="assets/img/Dasana/HiFi/MeditacionesDetalles.png" /></div>
                                    <div class="col-4 col-md-2 p-4"><img class="img-fluid"
                                            src="assets/img/Dasana/HiFi/Ebooks.png" /></div>
                                    <div class="col-4 col-md-2 p-4"><img class="img-fluid"
                                            src="assets/img/Dasana/HiFi/Recetarios.png" /></div>
                                    <div class="col-4 col-md-2 col-xxl-2 p-4"><img class="img-fluid"
                                            src="assets/img/Dasana/HiFi/RecetasFavoritos.png" /></div>
                                    <div class="col-4 col-md-2 col-xxl-2 p-4"><img class="img-fluid"
                                            src="assets/img/Dasana/HiFi/Perfil.png" /></div>
                                </div>
                            </div>
                        </div>
                        <div><a class="carousel-control-prev" href="#carousel-2" role="button"
                                data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span
                                    class="visually-hidden">Previous</span></a><a class="carousel-control-next"
                                href="#carousel-2" role="button" data-bs-slide="next"><span
                                    class="carousel-control-next-icon"></span><span
                                    class="visually-hidden">Next</span></a></div>
                    </div>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Conclusions and Learnings</h1>
                    <p class="lh-portfolio">Redefine the flow of the application proved to be a challenge centered
                        around logic and understanding how to create an effective flow to enhance the user experience.
                    </p>
                    <p class="lh-portfolio">Working on a redesign with time constraints and complete creative freedom
                        presented a challenge. It's common for users to feel uncomfortable with changes initially, but
                        positive feedback and an increase in users suggest that the project has been successful.</p>
                    <p class="lh-portfolio">It's important to note that the design presented in this case study differs
                        from the current version of the application due to various factors that have prevented its full
                        implementation.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>