<navbar title="Electium" subtitle="Web Admin" section="Case Study"></navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-12 p-4 border-box-9">
                    <h1 class="fs-neue-65">Developing an Effective <br />Costumer Management Web Admin</h1><img
                        class="img-fluid mt-4" src="assets/img/Electium/Banner.png" />
                </div>
                <div class="col-lg-6 mx-auto p-4">
                    <div class="d-flex justify-content-between"><span class="fs-4 fs-neue-65">Client</span><span
                            class="fs-4 fs-neue-45">Electium</span></div>
                    <hr />
                    <div class="d-flex justify-content-between"><span class="fs-4 fs-neue-65">Timeline</span><span
                            class="fs-4 fs-neue-45">5 Weeks</span></div>
                    <hr />
                    <div class="d-flex justify-content-between"><span class="fs-4 fs-neue-65">Tools</span><span
                            class="fs-4 fs-neue-45">Figma, Angular and Bootstrap</span></div>
                    <hr />
                    <div class="d-flex justify-content-between"><span class="fs-4 fs-neue-65">Role</span><span
                            class="fs-4 fs-neue-45 text-end">UX/UI Designer and UI Web Developer</span></div>
                    <hr />
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Overview</h1>
                    <span class="lh-portfolio">
                        Electium is a funeral company located in Spain that embarked on a process of updating and
                        modernizing its services. With the goal of improving their services and communication with their
                        clients, they were seeking a Web Admin to develop a mobile application. These
                        solutions would allow them to keep records of their clients, send important notifications, and
                        provide a blog section for their users. The challenge was to develop a simple and effective
                        Web Admin that addressed all their needs, enabling them to efficiently manage their clients.
                    </span>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Research</h1>
                    <span class="lh-portfolio">
                        The client required an Web Admin with three key sections: users, notifications, and blogs, to
                        manage both their users and the application effectively.
                    </span>
                    <h3 class="fs-neue-65 mt-5">Findings:</h3>
                    <ul>
                        <li>I observed that users of the Web Admin had limited familiarity with technology, highlighting
                            the importance of simplifying the interface.</li>
                        <li class="mt-1">It was crucial to develop a design with a limited number of options and clearly
                            highlight the available actions so that users could easily identify them.</li>
                    </ul>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Defining the Solution</h1><span>Approached the design of Electium with a
                        strategic focus, taking the following actions:</span>
                    <ul>
                        <li class="mt-1">I research and analyze references and web applications with similar
                            functionalities.</li>
                        <li class="mt-1">I opte for a simple design, removing unnecessary animations, and focusing on
                            providing what the client needed without excessive visual distractions.</li>
                        <li class="mt-1">I use explicit icons and clear modals with well-designed inputs to minimize
                            user
                            errors.</li>
                        <li class="mt-1">I maintain a limited color palette and highlighted only essential elements,
                            avoiding unnecessary visual saturation.</li>
                    </ul>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Wireframing</h1><span>
                        Maintained a restricted color palette and emphasized only the essential elements, avoiding
                        unnecessary visual clutter.</span>
                    <div id="carousel-1" class="carousel slide carousel-dark" data-bs-ride="false">
                        <div class="carousel-inner">
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-12 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/Electium/Wireframing/Login.png" /></div>
                                    <div class="col-12 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/Electium/Wireframing/Usuarios1.png" /></div>
                                </div>
                            </div>
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-12 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/Electium/Wireframing/Usuarios2.png" /></div>
                                    <div class="col-12 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/Electium/Wireframing/Usuarios3.png" /></div>
                                </div>
                            </div>
                        </div>
                        <div><a class="carousel-control-prev" href="#carousel-1" role="button"
                                data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span
                                    class="visually-hidden">Previous</span></a><a class="carousel-control-next"
                                href="#carousel-1" role="button" data-bs-slide="next"><span
                                    class="carousel-control-next-icon"></span><span
                                    class="visually-hidden">Next</span></a></div>
                    </div>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Establishing the Visual Design</h1>
                    <span class="lh-portfolio">
                        My goal was to create a Web Admin with a focus on simplicity and clarity so that users
                        could clearly understand their options. I chose a color palette that included white and gray for
                        backgrounds and the navigation bar, while the brand's green was reserved for primary actions
                        such as "New user", "New blog", or "New notification". This color choice contributed to a more
                        intuitive and accessible user experience.
                    </span>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">High Fidelity Prototype</h1>
                    <span class="lh-portfolio">With the idea firmly established and client approval, I proceeded to
                        create a high-fidelity prototype, achieving the following objectives:
                    </span>
                    <ul>
                        <li class="mt-1">I implement a navigation bar that highlighted the three available sections for
                            navigation.</li>
                        <li class="mt-1">I organize information mainly in the form of tables, clearly emphasizing
                            available actions.</li>
                        <li class="mt-1">I incorporate modals that allowed for efficient editing and creation of new
                            notifications and users.</li>
                        <li class="mt-1">I use the brand's primary color to highlight buttons and important elements in
                            the interface.</li>
                    </ul>
                    <div id="carousel-2" class="carousel slide carousel-dark" data-bs-ride="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-12 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/Electium/HiFi/Login.png" /></div>
                                    <div class="col-12 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/Electium/HiFi/Usuarios.png" /></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-12 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/Electium/HiFi/AgregarUsuario.png" /></div>
                                    <div class="col-12 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/Electium/HiFi/Perfiles.png" /></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-12 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/Electium/HiFi/AgregarPerfil.png" /></div>
                                    <div class="col-12 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/Electium/HiFi/AgregarBlog.png" /></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-12 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/Electium/HiFi/Blog.png" /></div>
                                    <div class="col-12 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/Electium/HiFi/Notificaciones.png" /></div>
                                </div>
                            </div>
                        </div>
                        <div><a class="carousel-control-prev" href="#carousel-2" role="button"
                                data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span
                                    class="visually-hidden">Previous</span></a><a class="carousel-control-next"
                                href="#carousel-2" role="button" data-bs-slide="next"><span
                                    class="carousel-control-next-icon"></span><span
                                    class="visually-hidden">Next</span></a></div>
                    </div>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Conclusions and Learnings</h1>
                    <p class="lh-portfolio">Designing for an audience that is not tech-savvy presents additional
                        challenges, as it's crucial to understand their working methods and represent information
                        clearly and accessibly in a Web Admin. This task requires specific skills to effectively
                        facilitate their work. My approach was centered on understanding the needs of this audience and
                        presenting information intuitively to simplify their tasks.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer></footer>