<navbar title="Electium" subtitle="Dashboard" section="Case Study"></navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-12 p-4 border-box-9">
                    <h1 class="fs-neue-65">Developing an Effective <br />Costumer Management Dashboard</h1><img
                        class="img-fluid mt-4" src="assets/img/Electium/Banner.png" />
                </div>
                <div class="col-lg-6 col-xxl-6 mx-auto p-4">
                    <div class="d-flex justify-content-between"><span class="fs-4 fs-neue-65">Client</span><span
                            class="fs-4 fs-neue-45">Electium</span></div>
                    <hr />
                    <div class="d-flex justify-content-between"><span class="fs-4 fs-neue-65">Timeline</span><span
                            class="fs-4 fs-neue-45">5 Weeks</span></div>
                    <hr />
                    <div class="d-flex justify-content-between"><span class="fs-4 fs-neue-65">Tools</span><span
                            class="fs-4 fs-neue-45">Figma, Angular and Bootstrap</span></div>
                    <hr />
                    <div class="d-flex justify-content-between"><span class="fs-4 fs-neue-65">Role</span><span
                            class="fs-4 fs-neue-45">UX/UI Designer and UI Web Developer</span></div>
                    <hr />
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Overview</h1>
                    <span class="lh-portfolio">
                        Electium es una empresa funeraria ubicada en España que
                        se embarcó en un proceso de actualización y modernización. Con el objetivo de mejorar sus
                        servicios y la comunicación con sus clientes, buscaban un sistema de administración web para
                        desarrollar una aplicación móvil. Estas soluciones les permitirían mantener un registro de sus
                        clientes, enviar notificaciones importantes y ofrecer una sección de blogs para sus
                        usuarios.<br />El desafío era desarrollar un administrador web simple y efectivo que abordara
                        todas las necesidades, permitiéndoles administrar de manera eficiente a sus clientes.
                    </span>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Research</h1>
                    <span class="lh-portfolio">
                        El cliente necesitaba un administrador con tres secciones
                        clave: usuarios, notificaciones y blogs, para gestionar tanto a sus usuarios como la
                        aplicación.
                    </span>
                    <h3 class="fs-neue-65 mt-5">Findings:</h3>
                    <ul>
                        <li>Identifiqué que era esencial simplificar el diseño del administrador, dado que los futuros
                            usuarios no estaban familiarizados con la tecnología.</li>
                        <li>Reconocí la importancia de crear un diseño sencillo que destacara de manera efectiva las
                            acciones disponibles para los usuarios.</li>
                    </ul>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Defining the Solution</h1><span>Abordé el diseño de Electium con un enfoque
                        estratégico. Realicé las siguientes acciones:</span>
                    <ul>
                        <li class="mt-1">Investigué y analicé referencias y aplicaciones web con funcionalidades similares.</li>
                        <li class="mt-1">Opté por un diseño sencillo, eliminando animaciones innecesarias, centrándome en
                            proporcionar lo que el cliente necesitaba sin distracciones visuales excesivas.</li>
                        <li class="mt-1">Utilicé iconos explícitos y modales claros con inputs diseñados para minimizar errores del
                            usuario.</li>
                        <li class="mt-1">Mantuve una paleta de colores reducida y resalté solo elementos esenciales, evitando la
                            saturación visual innecesaria.&quot;</li>
                    </ul>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Wireframing</h1><span>Comencé identificando las fortalezas de otras
                        aplicaciones como referencia. Luego, opté por crear wireframes en escala de grises. Después de
                        recopilar y considerar los comentarios del cliente, realicé ajustes detallados que nos llevaron
                        a la solución final.</span>
                    <div id="carousel-1" class="carousel slide carousel-dark" data-bs-ride="false">
                        <div class="carousel-inner">
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/Electium/Wireframing/Login.png" /></div>
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/Electium/Wireframing/Usuarios1.png" /></div>
                                </div>
                            </div>
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/Electium/Wireframing/Usuarios2.png" /></div>
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/Electium/Wireframing/Usuarios3.png" /></div>
                                </div>
                            </div>
                        </div>
                        <div><a class="carousel-control-prev" href="#carousel-1" role="button"
                                data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span
                                    class="visually-hidden">Previous</span></a><a class="carousel-control-next"
                                href="#carousel-1" role="button" data-bs-slide="next"><span
                                    class="carousel-control-next-icon"></span><span
                                    class="visually-hidden">Next</span></a></div>
                    </div>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Establishing the Visual Design</h1>
                    <span class="lh-portfolio">
                        Mi objetivo era crear un
                        administrador web con un enfoque en la simplicidad y la claridad para que los usuarios
                        comprendieran claramente sus opciones. Elegí una paleta de colores que incluía blanco y gris
                        para los fondos y la barra de navegación, mientras que el verde de la marca se reservó para las
                        acciones principales, como &quot;Nuevo usuario,&quot; &quot;Nuevo blog,&quot; o &quot;Nueva
                        notificación.&quot; Esta elección de colores contribuyó a una experiencia de usuario más
                        intuitiva y accesible.
                    </span>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">High Fidelity Prototype</h1>
                    <span class="lh-portfolio">Con la idea firmemente establecida y la
                        aprobación del cliente, procedí a crear un prototipo de alta fidelidad con los siguientes
                        objetivos logrados:
                    </span>
                    <ul>
                        <li class="mt-1">Implementé una barra de navegación que destacaba las tres secciones disponibles para la
                            navegación.</li>
                        <li class="mt-1">Organizé la información principalmente en forma de tablas, resaltando las acciones
                            disponibles de manera clara.</li>
                        <li class="mt-1">Incorporé modales que permitían la edición y creación de nuevas notificaciones y usuarios de
                            manera eficiente.</li>
                        <li class="mt-1">Utilicé el color principal de la marca para resaltar botones y elementos de importancia en
                            la interfaz.</li>
                    </ul>
                    <div id="carousel-2" class="carousel slide carousel-dark" data-bs-ride="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/Electium/HiFi/Login.png" /></div>
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/Electium/HiFi/Usuarios.png" /></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/Electium/HiFi/AgregarUsuario.png" /></div>
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/Electium/HiFi/Perfiles.png" /></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/Electium/HiFi/AgregarPerfil.png" /></div>
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/Electium/HiFi/AgregarBlog.png" /></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/Electium/HiFi/Blog.png" /></div>
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/Electium/HiFi/Notificaciones.png" /></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/TopSpin Music/HiFi/Artist2.png" /></div>
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/TopSpin Music/HiFi/Services.png" /></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/TopSpin Music/HiFi/Thank you.png" /></div>
                                    <div class="col-6 col-md-6 p-4"><img class="img-fluid"
                                            src="assets/img/TopSpin Music/HiFi/Login.png" /></div>
                                </div>
                            </div>
                        </div>
                        <div><a class="carousel-control-prev" href="#carousel-2" role="button"
                                data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span
                                    class="visually-hidden">Previous</span></a><a class="carousel-control-next"
                                href="#carousel-2" role="button" data-bs-slide="next"><span
                                    class="carousel-control-next-icon"></span><span
                                    class="visually-hidden">Next</span></a></div>
                    </div>
                </div>
                <div class="col-12 p-4">
                    <h1 class="fs-neue-65">Conclusions and Learnings</h1>
                    <p class="lh-portfolio">Diseñar para un público poco familiarizado con la tecnología presenta desafíos adicionales, ya
                        que es crucial comprender sus métodos de trabajo y representar la información de manera clara y
                        accesible en un administrador web. Esta tarea requiere habilidades específicas para facilitar
                        eficazmente su labor. Mi enfoque se centró en comprender las necesidades de este público y
                        presentar la información de manera intuitiva para simplificar su tarea.</p>
                </div>
            </div>
        </div>
    </div>
</div>