<navbar title="UI Projects" subtitle="Additional Designs" section="Projects"></navbar>
<div class="container-fluid">
    <div class="row h-100">
        <div class="col">
            <div class="row h-100">
                <div class="col-lg-5 p-4 border-box-8"><img class="img-fluid p-4"
                        src="assets/img/UI/VidaWellPortrait.png" /></div>
                <div class="col-lg-7 d-flex align-items-center p-4 border-box-8">
                    <div>
                        <h1 class="fs-neue-65">VidaWell</h1>
                        <h4 class="fs-neue-45 text-pink">Landing Page</h4>
                        <hr />
                        <p class="fs-6 lh-portfolio">I designed a landing page for VidaWell, an extension of Dasana.
                            This page serves as a comprehensive presentation of VidaWell, where I highlight relevant
                            information, including benefits, available plans, contact details, and collaborations with
                            prominent brands. VidaWell focuses on enabling businesses to develop their own applications
                            based on Dasana to strengthen their customer relationships outside of their establishments
                            and enhance the well-being and quality of life of their employees.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row h-100">
        <div class="col">
            <div class="row h-100">
                <div class="col-lg-7 d-flex align-items-center p-4 border-box-8">
                    <div>
                        <h1 class="fs-neue-65">Dasana</h1>
                        <h4 class="fs-neue-45 text-pink">Landing Page</h4>
                        <hr />
                        <p class="lh-portfolio">
                            I renewed Dasana's landing page, where the options for login, data editing, and
                            registration were reintroduced. This project was carried out with the aim of providing users
                            with a more modern and appealing design.</p>
                    </div>
                </div>
                <div class="col-lg-5 order-first order-lg-last p-4 border-box-8"><img class="img-fluid p-4"
                        src="assets/img/UI/DasanaPortrait.png" /></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row h-100">
        <div class="col">
            <div class="row h-100">
                <div class="col-lg-5 p-4 border-box-8"><img class="img-fluid p-4"
                        src="assets/img/UI/InfluencersPortrait.png" /></div>
                <div class="col-lg-7 d-flex align-items-center p-4 border-box-8">
                    <div>
                        <h1 class="fs-neue-65">Dasana</h1>
                        <h4 class="fs-neue-45 text-pink">Dashboard</h4>
                        <hr />
                        <p class="lh-portfolio">I developed a dashboard specifically for the influencers associated with
                            Dasana, allowing them to access their metrics, statistics, levels, referral codes, and
                            upload invoices for payments. This panel was primarily designed for mobile devices. However,
                            it was ensured to be fully responsive to ensure an optimal experience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row h-100">
        <div class="col">
            <div class="row h-100">
                <div class="col-lg-7 d-flex align-items-center p-4 border-box-8">
                    <div>
                        <h1 class="fs-neue-65">Electium</h1>
                        <h4 class="fs-neue-45 text-pink">App Mobile</h4>
                        <hr />
                        <p class="lh-portfolio">I designed a mobile application for Electium with the aim of providing
                            users with the ability to maintain a personal virtual diary. This app allowed users to
                            write, upload audio and photos, and establish two trusted contacts during the registration
                            process. Years later, these contacts would receive the content stored in the diary.

                            The app also offered other important features. Users could explore blogs from various
                            content creators. Additionally, the app allowed users to track payments associated with
                            their funeral services.</p>
                    </div>
                </div>
                <div class="col-lg-5 order-first order-lg-last p-4 border-box-8"><img class="img-fluid p-4"
                        src="assets/img/UI/ElectiumPortrait.png" /></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row h-100">
        <div class="col">
            <div class="row h-100">
                <div class="col-lg-5 p-4 border-box-9"><img class="img-fluid p-4"
                        src="assets/img/UI/ElectiumLandingPortrait.png" /></div>
                <div class="col-lg-7 d-flex align-items-center p-4 border-box-9">
                    <div>
                        <h1 class="fs-neue-65">Electium</h1>
                        <h4 class="fs-neue-45 text-pink">Landing Page</h4>
                        <hr />
                        <p class="lh-portfolio">I developed the initial disruptive designs for the landing page
                            redesign. This page presents basic information such as profile data and details about the
                            funeral plan, but it also highlights an enhanced and attractive user experience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer></footer>