.nav-border-bottom {
  border-bottom: 1px solid rgba(241, 247, 254, 0.2);
}

.text-brand {
  font-size: 28px;
  color: var(--primary);
  font-family: 'GT-Regular', Arial, Helvetica, sans-serif;
}

.nav-link {
  font-size: 20px;
  color: var(--white);
  font-family: 'MabryPro-Regular', Arial, Helvetica, sans-serif;
  padding: 32px 40px;
  border-left: 1px solid rgba(241, 247, 254, 0.2);
  border-right: 1px solid rgba(241, 247, 254, 0.2);
}

.nav-link:first-child {
  border-left: 1px solid rgba(241, 247, 254, 0.2);
  border-right: none;
}

.nav-link:last-child {
  border-left: none;
  border-right: none;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--primary);
  background: rgba(9, 18, 25, 0.8) ;
}

.btn-open-menu {
  display:none;
}

.nav-border-bottom .btn-open-menu button{
  font-size: 40px;
  color: var(--white);
  border: none;
  padding: 8px 16px;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 991px){
  .nav-link {
      display: none;
  }
  .btn-open-menu {
      display: inherit;
  }
}

.bg-menu {
  width: 0;
  z-index: 100;
  background: var(--background);
  transition: all 0.3s ease 0s;
}

.nav-mobile-link{
  font-size: 32px;
  color: var(--white);
  font-family: 'MabryPro-Regular', Arial, Helvetica, sans-serif;
  text-decoration: none;
  width: 100%;
  padding: 32px 0px;
  transition: all 0.3s ease 0s;
}

.nav-mobile-link:hover, 
.nav-mobile-link:focus{
    color: var(--primary);
    background: #0f171d;
}

.btn-close-menu{
  font-size: 40px;
  padding: 24px 24px;
  color: var(--white);
  position: absolute;
  // top: 24px;
  right: 16px;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .nav-mobile-link{
    font-size: 20px;
  }

  .btn-close-menu{
    font-size: 32px;
    top: 16px;
    right: 32px;
  }
}


