<div id="navbar" class="container-fluid h-33">
    <div class="row h-100">
        <div class="col-lg-6 d-flex align-items-end p-4 border-box-1">
            <div>
                <h2 class="fs-neue-65">{{title}}</h2>
                <h4 class="fs-neue-55">{{subtitle}}</h4>
            </div>
        </div>
        <div class="col-lg-6 border-box-2">
            <div class="row h-100">
                <div class="col-12 h-50 p-4">
                    <div class="d-flex justify-content-center justify-content-sm-end justify-content-xl-between">
                        <a class="link-portfolio text-decoration-none" href="#">
                            <h3 class="fs-neue-45 d-none d-xl-block">Rubén Bojórquez</h3>
                        </a>
                        <div>
                            <a class="btn btn-portfolio btn-xs mx-1 fs-neue-65" role="button"
                                href="/assets/pdf/RubenBojorquez.pdf" target="_blank">Resume</a>
                            <a class="btn btn-portfolio btn-xs mx-1 fs-neue-65" role="button"
                                href="https://www.linkedin.com/in/jrubenbjrqz/" target="_blank">LinkedIn</a>
                            <a class="btn btn-portfolio btn-xs mx-1 fs-neue-65" role="button"
                                href="mailto:jrubenbjrqz@gmail.com">Contact</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 h-50 p-4">
                    <div class="d-flex justify-content-between align-items-center">
                        <h1 class="fs-neue-65 m-0">{{section}}</h1>
                        <div
                            class="bs-icon-sm bs-icon-circle d-flex justify-content-center align-items-center bs-icon bs-icon-portfolio">
                            <svg class="bi bi-lightning-charge-fill" xmlns="http://www.w3.org/2000/svg" width="1em"
                                height="1em" fill="currentColor" viewBox="0 0 16 16">
                                <path
                                    d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z">
                                </path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
