<header class="w-100 ps-5 d-flex justify-content-between align-items-center position-absolute z-3 nav-border-bottom">
  <div>
    <h3 class="text-brand">Rubén Bojórquez</h3>
  </div>
  <nav class="d-flex flex-rows">
        <a class="nav-link" href="assets/pdf/ResumeRuben Bojorquez.pdf" target="_blank">Resume</a>
        <a class="nav-link" href="https://www.linkedin.com/in/jrubenbjrqz/" target="_blank">LinkedIn</a>
        <a class="nav-link" href="mailto:jrubenbjqrz@gmail.com">Contact me</a>
  </nav>
  <a (click)="openNav()" class="menu">
    <button>
      <i class="bi bi-list"></i>
    </button>
  </a>
  <div id="mobile-menu" class="overlay">
    <a href="" (click)="closeNav()" class="close">&times;</a>
    <div class="overlay-content">
        <a href="">Resume</a>
        <a href="">LinkedIn</a>
        <a href="">Contact me</a>
    </div>
  </div>
</header>