.border-box-1 {
    border-color: #292929;
    border-right: solid 1px;
    border-bottom: solid 1px;
}

.border-box-2 {
    border-color: #292929;
    border-left: solid 1px;
    border-bottom: solid 1px;
}

.border-box-3 {
    border-color: #292929;
    border-top: solid 1px;
    border-right: solid 1px;
}

.border-box-4 {
    border: solid 1px #292929;
}

.border-box-5 {
    border-color: #292929;
    border-top: solid 1px;
    border-left: solid 1px;
    border-bottom: solid 1px;
}

.border-box-6 {
    border-color: #292929;
    border-top: solid 1px;
    border-left: solid 1px;
}

.border-box-7 {
    border-color: #292929;
    border-top: solid 1px;
}

@media (max-width: 768px) {
    .border-box-1 {
        border-color: #292929;
        border-right: none;
        border-bottom: solid 1px;
    }

    .border-box-2 {
        border-color: #292929;
        border-top: solid 1px;
        border-left: none;
        border-bottom: solid 1px;
    }

    .border-box-4 {
        border: solid 1px #292929;
        border-left: none;
        border-right: none;
        border-top: solid 1px;
        border-bottom: solid 1px;
    }

    .border-box-5 {
        border-color: #292929;
        border-top: solid 1px;
        border-left: none;
        border-bottom: solid 1px;
    }
    
    .border-box-6 {
        border-color: #292929;
        border-top: solid 1px;
        border-left: none;
        border-bottom: solid 1px;
    }
}
    