<div class="position-fixed w-100 h-100 d-flex flex-column
                justify-content-center align-items-center background-filter">
    <div class="py-hero">
        <h1 class="text-hero">Hola, my name is
            <span class="text-hero-name">Rubén Bojórquez</span>.
        </h1>
        <h1 class="text-hero">I'm a UX UI Designer and Web Designer.</h1>
        <h4 class="text-hero-subtitle">Welcome to my project realm! I'm open to work.</h4>
        <h5 class="text-hero-scroll">Scroll to see my work
            <i class="bi bi-arrow-right"></i>
        </h5>
    </div>
</div>