<navbar></navbar>
<div class="container-fluid h-67">
    <div class="row h-100">
        <div class="col-lg-6">
            <div class="row h-100">
                <div class="col-12 p-4 border-box-3 d-none d-lg-block align-justify">
                    <h2 class="fs-neue-65">About me</h2>
                    <p class="fs-1em">I am a passionate, creative, and detail-oriented
                        UX/UI designer and web developer. My early interest in creative activities such as painting,
                        drawing, and music led me to a career in Multimedia Production Engineering. My journey began in
                        a startup, and I have solid foundations in programming, graphic design and 3D.</p>
                    <p class="">I love crafting innovative, simple, and functional solutions that
                        make a positive impact on people. My curiosity drives me to explore and understand the world
                        around us, enhancing user experiences on websites and applications. I am constantly seeking
                        improvement and collaborating with diverse perspectives to create exceptional designs.</p>
                    <p>My goal is to create practical and appealing solutions that enrich
                        people&#39;s lives. I am excitedto continue growing as a UI designer and contribute to the
                        well-being of the community through impactful and functional design.</p>
                    <p class="fs-neue-66-italic">My approach combines passion,
                        creativity, and attention to detail, aiming to create user-centered solutions that combine
                        innovation, simplicity, and functionality to make a positive impact.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row h-50">
                <div class="col-lg-6 border-box-4">
                    <div class="row h-100">
                        <div class="col-12 h-75 p-4">
                            <h4 class="fs-neue-65">UX/UI Design and UI Develop</h4>
                        </div>
                        <div class="col-12 h-25 px-4 py-3">
                            <a class="d-flex justify-content-between link-portfolio text-decoration-none" routerLink="/uxui">
                                <h6 class="fs-neue-55">Website and App Design</h6>
                                <div
                                    class="bs-icon-xs bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center bs-icon bs-icon-portfolio">
                                    <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="1em"
                                        height="1em" fill="currentColor" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
                                        </path>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 border-box-5">
                    <div class="row h-100">
                        <div class="col-12 h-75 p-4">
                            <h4 class="fs-neue-65">Visual Design</h4>
                        </div>
                        <div class="col-12 h-25 px-4 py-3">
                            <a class="d-flex justify-content-between link-portfolio text-decoration-none" routerLink="/visual">
                                <h6 class="fs-neue-55">Marketing Proposal</h6>
                                <div
                                    class="bs-icon-xs bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center bs-icon bs-icon-portfolio">
                                    <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="1em"
                                        height="1em" fill="currentColor" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
                                        </path>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row h-50 fs-neue-55">
                <div class="col-lg-7 p-4 border-box-6">
                    <h4 class="fs-neue-65">Skills</h4>
                    <div class="d-flex align-items-start">
                        <ul class="d-inline-block">
                            <li class="mt-1">Figma</li>
                            <li class="mt-1">Adobe XD</li>
                            <li class="mt-1">Adobe Suite</li>
                            <li class="mt-1">HTML</li>
                            <li class="mt-1">CSS</li>
                        </ul>
                        <ul class="d-inline-block">
                            <li class="mt-1">Javascript</li>
                            <li class="mt-1">Bootstrap</li>
                            <li class="mt-1">Typescript</li>
                            <li class="mt-1">Angular</li>
                            <li class="mt-1">Git</li>
                        </ul>
                        <ul class="d-inline-block">
                            <li class="mt-1">Spark AR</li>
                            <li class="mt-1">Maya</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 p-4 border-box-7">
                    <h4 class="fs-neue-65">Soft Skills</h4>
                    <div>
                        <ul class="d-inline-block">
                            <li class="mt-1">Teamwork</li>
                            <li class="mt-1">Leadership</li>
                            <li class="mt-1">Critical Thinking</li>
                            <li class="mt-1">Adaptability</li>
                            <li class="mt-1">Proactivity</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>