.background-filter {
    backdrop-filter: blur(10px);
}

.py-hero {
    padding: 0px 110px;
}

.text-hero {
    font-size: 5rem;
    color: var(--white);
    font-family: 'MabryPro-Regular', Arial, Helvetica, sans-serif;
}

.text-hero-name {
    color: var(--primary);
    font-family: 'GT-Medium', Arial, Helvetica, sans-serif;
}

.text-hero-subtitle {
    font-size: 28px;
    color: var(--white);
    font-family: 'MabryPro-Regular', Arial, Helvetica, sans-serif;
    margin-top: 24px;
}

.text-hero-scroll {
    font-size: 20px;
    color: var(--accent);
    font-family: 'MabryPro-Bold', Arial, Helvetica, sans-serif;
    margin-top: 24px;
}

@media (max-width: 768px) {
    .py-hero {
        padding: 0px 72px;
    }

    .text-hero {
        font-size: 3.5rem;
    }

    .text-hero-subtitle {
        font-size: 20px;
    }

    .text-hero-scroll {
        font-size: 16px;
    }
}

@media (max-width: 478px) {
    .py-hero {
        padding: 0px 32px;
    }

    .text-hero {
        font-size: 2rem;
    }
}
