/* You can add global styles to this file, and also import other style files */

:root {
    --primary: #F28518;
    --secondary: #052242;
    --accent: #ef9025;
    --background: #09121b;
    --white: #f1f7fe;
}

/* GT Super */
@font-face {
    font-family: 'GT-Book';
    src: url(assets/fonts/GT/GT-Super-Text-Book-Trial.otf);
}

@font-face {
    font-family: 'GT-Regular';
    src: url(assets/fonts/GT/GT-Super-Text-Regular-Trial.otf);
}

@font-face {
    font-family: 'GT-Medium';
    src: url(assets/fonts/GT/GT-Super-Text-Medium-Trial.otf);
}

@font-face {
    font-family: 'GT-Bold';
    src: url(assets/fonts/GT/GT-Super-Text-Bold-Trial.otf);
}

@font-face {
    font-family: 'GT-Black';
    src: url(assets/fonts/GT/GT-Super-Text-Black-Trial.otf);
}

/* GT Super Italic */
@font-face {
    font-family: 'GT-Book-Italic';
    src: url(assets/fonts/GT/GT-Super-Text-Book-Italic-Trial.otf);
}

@font-face {
    font-family: 'GT-Regular-Italic';
    src: url(assets/fonts/GT/GT-Super-Text-Regular-Italic-Trial.otf);
}

@font-face {
    font-family: 'GT-Medium-Italic';
    src: url(assets/fonts/GT/GT-Super-Text-Medium-Italic-Trial.otf);
}

@font-face {
    font-family: 'GT-Bold-Italic';
    src: url(assets/fonts/GT/GT-Super-Text-Bold-Italic-Trial.otf);
}

@font-face {
    font-family: 'GT-Black-Italic';
    src: url(assets/fonts/GT/GT-Super-Text-Black-Italic-Trial.otf);
}

/*Mabry Pro*/
@font-face {
    font-family: 'MabryPro-Light';
    src: url(assets/fonts/Mabry/MabryPro-Light.ttf);
}

@font-face {
    font-family: 'MabryPro-Regular';
    src: url(assets/fonts/Mabry/MabryPro-Regular.ttf);
}

@font-face {
    font-family: 'MabryPro-Medium';
    src: url(assets/fonts/Mabry/MabryPro-Medium.ttf);
}

@font-face {
    font-family: 'MabryPro-Bold';
    src: url(assets/fonts/Mabry/MabryPro-Bold.ttf);
}

@font-face {
    font-family: 'MabryPro-Black';
    src: url(assets/fonts/Mabry/MabryPro-Black.ttf);
}

/*Mabry Pro Italic*/
@font-face {
    font-family: 'MabryPro-Light-Italic';
    src: url(assets/fonts/Mabry/MabryPro-LightItalic.ttf);
}

@font-face {
    font-family: 'MabryPro-Regular-Italic';
    src: url(assets/fonts/Mabry/MabryPro-Italic.ttf);
}

@font-face {
    font-family: 'MabryPro-Medium-Italic';
    src: url(assets/fonts/Mabry/MabryPro-MediumItalic.ttf);
}

@font-face {
    font-family: 'MabryPro-Bold-Italic';
    src: url(assets/fonts/Mabry/MabryPro-BoldItalic.ttf);
}

@font-face {
    font-family: 'MabryPro-Black-Italic';
    src: url(assets/fonts/Mabry/MabryPro-BlackItalic.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
  

