<navbar 
    title="Visual Design"
    subtitle="Step into my visual realm!"
    section="Presentations"
></navbar>
<div class="container-fluid h-67">
    <div class="row h-100">
        <div class="col">
            <div class="row h-100">
                <div class="col-12 d-flex justify-content-center align-items-center p-4 border-box-8">
                    <h1 class="display-3 fw-bold text-center">Working on it! <br />Come back as soon as possible</h1>
                </div>
            </div>
        </div>
    </div>
</div>