<div class="container-fluid">
    <div class="row h-100">
        <div class="col">
            <div class="row h-100">
                <div class="col d-flex justify-content-center p-5 border-box-10">
                    <div class="text-center">
                        <button class="btn fs-5 my-3 fs-neue-55 btn-case-study px-5" role="button" (click)="scrollToNavbar()">Back to the Top</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
